<div class="signin">
  <p-card class="signin-card">
    <ng-template pTemplate="header">
      <div *ngIf="userDetails">
        <div class="dashboard-header">
          <h5 class="">Welcome To the quiz game</h5>
          <app-user-avatar-profile
            [userDetails]="userDetails"
          ></app-user-avatar-profile>
        </div>
      </div>
    </ng-template>
    <div class="grid">
      <div class="col-12 md:col-8 lg:col-8 sm:col-10">
        <p-table [value]="highScoreDetail" *ngIf="highScoreDetail">
          <ng-template pTemplate="header">
            <tr>
              <th>userName</th>
              <th>Score</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.userName }}</td>
              <td>{{ item.highScore }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12 md:col-4 lg:col-4 sm:col-2">
        <div class="dashboard-button-group">
          <button
            pButton
            type="button"
            class="p-button-outlined p-button-success"
            label="Start Quiz"
            (click)="startQuiz()"
          ></button>
          <button
            pButton
            type="button"
            class="p-button-outlined p-button-success"
            label="Your Score"
          ></button>
        </div>
      </div>
    </div>
  </p-card>
</div>
